:root {
    --cor-primaria: #bfaf00;
    --cor-destaque1: #0d5400;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 15xp 40px;
    background-color: #0d5400;
    width: 100%;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header nav a {
    display: block;
    background-color: #ffffff;

    color: #000000;

    text-decoration: none;

    padding: 10px 25px;

    border: 1px solid #999999;

    font-family: var(--fonte-body);
    font-size: 0.9rem;
    justify-content: flex-end;

}

header img {
    max-height: 80px;
    width: auto;

}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

/* header,
main,
footer {
    width: 840px;
    margin: 0 auto; */
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

.redes-sociais a {
    text-decoration: none;

}

.hero {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: var(--cor-destaque1);
    color: #fff;
}

.hero article img {
    float: right;
    max-width: 150px;
    height: auto;
    margin-left: 15px;

}

footer {
    background-color: #0d5400;
    display: flex;
    justify-content: flex-end;
}

.galeria {
    display: flex;

    justify-content: space-around;

    align-items: center;

    margin: 20px 0;

    width: max-content
}