form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0 /0.2);
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;

}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    margin: 2rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

legend {
    padding: 0.5rem;
    color: navy;
}

label,
input,
button,
select,
textarea {
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 5rem;
    padding: 0.75rem;
    font-size: 1.2rem;

}

footer {
    text-align: center;
    font-size: medium;
    margin: 1rem auto 0;
}

.item-formulario {
    display: grid;
    align-items: center;
}

.coluna1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.coluna2 {
    grid-template-columns: 2fr 1fr;
}